.row {
  margin-top: 0.8em;
  margin: auto;
}
.container-columna1 {
  width: 33%;
  float: left;
}

.container-columna2 {
  width: 80%;
  margin-left: 2.7em;
}

.container-columna2 p {
  font-size: 15px;
  line-height: 25px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.container-botton {
  max-width: 286px;
}

.pruenas {
  margin-top: -0.8em;
}

.container-informacion {
  margin-top: -0.3em;
}

/* .container-columna1-flex img {
  width: 286px; 
  height: 424px;
  border-radius: 0.7em;
} */
.pruebas-container-flex {
  width: 286px;
  height: 424px;
  border-radius: 0.7em;
}

.espacio-botton {
  margin-left: 2em;
}

.informacion-titulo {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

.color-base {
  color: rgb(9, 27, 165);
}

.informacion-p {
  margin-top: -0.8em;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.titulo-pelicula {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
}

.line {
  margin: 0 0.2em;
}

.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 1.5em;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #edce3b;
  transition: all 0.2s ease;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #edce3b 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #edce3b 20%, transparent 30%),
    radial-gradient(circle, #edce3b 20%, transparent 20%),
    radial-gradient(circle, #edce3b 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #edce3b 15%, transparent 20%),
    radial-gradient(circle, #edce3b 20%, transparent 20%),
    radial-gradient(circle, #edce3b 20%, transparent 20%),
    radial-gradient(circle, #edce3b 20%, transparent 20%),
    radial-gradient(circle, #edce3b 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #edce3b 20%, transparent 20%),
    radial-gradient(circle, #edce3b 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #edce3b 15%, transparent 20%),
    radial-gradient(circle, #edce3b 20%, transparent 20%),
    radial-gradient(circle, #edce3b 20%, transparent 20%),
    radial-gradient(circle, #edce3b 20%, transparent 20%),
    radial-gradient(circle, #edce3b 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button2 {
  position: relative;
  padding: 10px 22px;
  border-radius: 1.5em;
  border-color: #000000;
  /* border: none; */
  color: black;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s ease;
}

.button2:active {
  transform: scale(0.96);
}

.button2:before,
.button2:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button2:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #000000 20%, transparent 30%),
    radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #000000 15%, transparent 20%),
    radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, #000000 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button2:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #000000 15%, transparent 20%),
    radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, #000000 20%, transparent 20%),
    radial-gradient(circle, #000000 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* Estilo para el botón "Ver Video" */
#open-video {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Estilo para la ventana emergente */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Estilo para el contenido de la ventana emergente */
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #fff; */
  padding: 3em;
  border-radius: 5px;
}

/* Estilo para el botón de cierre */
.close-popup {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
}

.popup-content iframe {
  width: 1280px;
  height: 720px;
}

@media (max-width: 768px) {
  .columa1 {
    /* background-color: rgb(131, 218, 113); */
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-columna1 {
    /* width: 100%; */
    width: 100%;
    /* background-color: bisque; */
    float: left;
    /* margin: auto; */
    /* padding: 10px; */
  }

  .container-columna2 {
    width: 80%;
    margin-left: 2.3em;
    /* max-width: 80%; */
    /* background-color: aquamarine; */
  }

  .container-columna1-flex img {
    width: 286px;
    height: 424px;
    border-radius: 0.7em;
  }

  .titulo-pelicula {
    /* color: aqua; */
    font-size: 2.8rem;
  }

  /* Estilo para el botón "Ver Video" */
  #open-video {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  /* Estilo para la ventana emergente */
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  /* Estilo para el contenido de la ventana emergente */
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #fff; */
    padding: 3em;
    border-radius: 5px;
  }

  /* Estilo para el botón de cierre */
  .close-popup {
    position: absolute;
    cursor: pointer;
    top: -0.8em;
    right: 0.8em;
    font-size: 50px;

    font-weight: bold;
  }

  .popup-content iframe {
    width: 355px;
    height: 230px;
  }
}
