/*******************************************************************************/
/****************************** HEADER *****************************************/
/*******************************************************************************/

/* Estilo del contenedor del carrusel */
.carrusel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 1em;
}

.carrusel {
  display: flex;
  /* gap: 1em; */
  transition: transform 0.5s;
}

.carrusel-item {
  min-width: 20%;
  overflow: hidden;
}

.carrusel-content img {
  border-radius: 0.6em;
  width: 176px;
  height: 264px;
}

.carrusel-prev,
.carrusel-next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 1;
}

.carrusel-prev {
  left: 0;
}

.carrusel-next {
  right: 0;
}

.arrow-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgb(31, 39, 101);
  border-radius: 50%;
}

.arrow-circle img {
  color: white;
  width: 20px;
}

@media (max-width: 768px) {
  .carrusel-container {
    width: 95%;
    /* overflow: scroll; */
    overflow: hidden;
    position: relative;
    margin: auto;
  }

  .carrusel {
    display: flex;
    gap: 0.5em;
    transition: transform 0.5s;
  }
  .carrusel-item {
    min-width: 40%;
    overflow: hidden;
  }
}
.carrusel-titulo {
  margin-top: 0.2em;
  text-align: center;
  color: grey;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  width: 172px;
}

/**/

.title-line {
  display: flex;
  align-items: center;
}

hr {
  flex: 1;
  height: 6px;
  background-color: #d9d9d9;
  color: #d9d9d9;
  opacity: 100;
  border: none;
  margin: 0em 0.8em;
}

.text-nosotros {
  font-size: 17px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.text-content {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.container-card {
  display: grid;
  grid-template-rows: repeat(1, 195px);
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 1em 1em;
}

.grid-cards {
  margin-top: 2em;
  transition: transform 0.3s, box-shadow 0.3s;
  /* overflow: hidden; */
}

.grid-cards:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}

.grid-img {
  margin-top: 0.8em;
}

.grid-content {
  max-width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 0.8em;
}
