<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoCine - ARNOLDS</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="/js/card.js"></script>
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    /> -->
    <link
          rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
        />
        <link
          rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
        />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header th:replace="plantilla/template::header"></header>
    <br />
    <div class="espacio-formato">
      <h2 th:text="${cartelera}" class="cartelera color-base"></h2>
   
      <!-- <h1>Hola 😱🥺🙀</h1> -->
      <!-- <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz9YMFCMoayMJUAjU_oLnIQD0hpDx6HkI80A&usqp=CAU"
        alt=""
      /> -->
      <div id="carrusel">
        <a href="#" class="left-arrow">
            <img src="/img/flecha-mayor.png" class="icon-flecha" />
        </a>
        <a href="#" class="right-arrow">
            <img src="/img/flecha-menor.png" class="icon-flecha" />
        </a>
        <div class="carrusel">
            <div th:each="listarCatelera : ${listarCatelera}" class="product">
                <a th:href="@{'/enlace/' + ${listarCatelera.id}}" class="carrusel-item">
                    <img th:src="${listarCatelera.imagen}" />
                    <p th:text="${listarCatelera.titulo}" class="carrusel-titulo"></p>
                    <!-- <p th:text="${listarCatelera.descripcion}"></p> -->
                </a>
            </div>
        </div>
    </div>
      <a href="#">
        <img src="/img/a.png" alt="propaganda" class="propaganda">
      </a>
    </div>
    <!-- <h2 th:text="${listarCatelera}"></h2> -->
    <br />
    <p th:text="${titulo}" class="card-title"></p>



     
        <!-- <div class="cabeza">
          <div id="carrusel">
            <a href="#" class="left-arrow"
              ><img src="images/left-arrow.png"
            /></a>
            <a href="#" class="right-arrow"
              ><img src="images/right-arrow.png"
            /></a>
            <div class="carrusel">
              <div th:each="listarCatelera : ${listarCatelera}" class="product">
                <img th:src="${listarCatelera.imagen}" />
                <h5 th:text="${listarCatelera.titulo}"></h5>
                <p th:text="${listarCatelera.descripcion}"></p>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Agrega los scripts de jQuery y Slick Carousel -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

        <!-- Inicializa el carrusel -->

        <br /><br /><br /><br /><br /><br />
        <footer th:replace="plantilla/template::footer"></footer>
      </body>
    </html>
  </body>
</html>
