<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arnolds | Autocine</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="/js/card.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <script src="/js/buscador.js"></script>
    <link rel="shortcut icon" href="/img/icon-pagina.ico" />
  </head>
  <body>
    <header th:replace="plantilla/template::header"></header>
    <br />
    <div class="espacio-formato">
      <!-- <a th:href="@{/pelicula}">asdas</a> -->
      <h2
        th:text="${cartelera}"
        class="cartelera color-base elemento-busqueda"
      ></h2>
      <div id="carrusel">
        <a href="#" class="left-arrow">
          <img src="/img/flecha-mayor.png" class="icon-flecha" />
        </a>
        <a href="#" class="right-arrow">
          <img src="/img/flecha-menor.png" class="icon-flecha" />
        </a>
        <div class="carrusel">
          <div th:each="listarCatelera : ${listarCatelera}" class="product">
            <a
              th:href="@{/pages/get/{id}(id=${listarCatelera.id})}"
              class="carrusel-item"
            >
              <img th:src="${listarCatelera.imagen}" />
              <p th:text="${listarCatelera.titulo}" class="carrusel-titulo"></p>
            </a>
          </div>
        </div>
      </div>
      <h2 th:text="${venta}" class="cartelera color-base"></h2>
    </div>
    <br />
    <!-- <p th:text="${titulo}" class="card-title"></p> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <nav class="espacio-formato">
      <div class="container-nosotros-flex">
        <div class="title-line">
          <h2 class="text-nosotros">¿Por qué nosotros?</h2>
          <hr />
        </div>
      </div>
      <div class="container-card">
        <div class="grid-cards">
          <div class="d-flex justify-content-center grid-img">
            <img src="/img/nosotros1.png" alt="Card Image" />
          </div>
          <div class="grid-content">
            <p class="text-content">
              El mejor cine, en <br />
              las mejores salas
            </p>
          </div>
        </div>
        <div class="grid-cards">
          <div class="d-flex justify-content-center grid-img">
            <img src="/img/nosotros2.png" alt="Card Image" />
          </div>
          <div class="grid-content">
            <p class="text-content">
              Compra segura, <br />
              fácil y rápida
            </p>
          </div>
        </div>
        <div class="grid-cards">
          <div class="d-flex justify-content-center grid-img">
            <img src="/img/nosotros3.png" alt="Card Image" />
          </div>
          <div class="grid-content">
            <p class="text-content">
              Múltiples métodos <br />
              de pago y envío
            </p>
          </div>
        </div>
        <div class="grid-cards">
          <div class="d-flex justify-content-center grid-img">
            <img src="/img/nosotros4.png" alt="Card Image" />
          </div>
          <div class="grid-content">
            <p class="text-content">Entradas originales <br /></p>
          </div>
        </div>
        <div class="grid-cards">
          <div class="d-flex justify-content-center grid-img">
            <img src="/img/nosotros5.png" alt="Card Image" />
          </div>
          <div class="grid-content">
            <p class="text-content">
              Ventajas <br />
              exclusivas
            </p>
          </div>
        </div>
      </div>
    </nav>
    <br /><br />
    <footer th:replace="plantilla/template::footer"></footer>
  </body>
</html>
